<footer>
        <ul class="f-menu">
            <li><a href="/" title="">Acasa</a></li>
            <li><a href="despre-noi.html" title="">Despre noi</a></li>
            <li><a href="meniu" title="">Meniu</a></li>
              <img class="sigla" src="../images/sigla.png" alt="sigla">
            <li><a href="comenzi.html" title="">Comenzi</a></li>
            <li><a href="contact" title="">Contact</a></li>
            <li><a href="galerie" title="">Galerie</a></li>
        </ul>
        <ul class="f-info">
          <li><p>Sos. Mihai Bravu 134, bl. D21</p></li>
          <li><p>+40 731 89 848</p></li>
          <li><a>facebook.com/deliciousdoughnuts</a></li>
        </ul>
    </footer>
