<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/style.css">
<style type="text/css">
  @font-face {
    font-family: "Curlz";
    src: url(fonts/Curlz.ttf) format("truetype");
  }
</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
<script src="js/vendor/modernizr.js"></script>
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/fastclick.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/foundation/foundation.magellan.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfDPuZLW_YLvErL9vCeW3XEgb_oMci7AQ"
  type="text/javascript"></script>
