<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="gogosi, placinte, invartite, prajituri de casa, tarte, fursecuri">

<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicons/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#fee684">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">

<style type="text/css">
  @font-face {
    font-family: "Curlz";
    src: url(fonts/curlz.ttf) format("truetype");
  }
</style>

<!-- build:css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/swipebox.css">
<!-- endbuild -->

<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
<!-- build:js -->
<script src="js/jquery.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.swipebox.js"></script>
<script src="js/foundation.js"></script>
<script src="js/foundation.topbar.js"></script>
<script src="js/foundation.magellan.js"></script>
<script src="js/foundation.equalizer.js"></script>
<!-- endbuild -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfDPuZLW_YLvErL9vCeW3XEgb_oMci7AQ" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.image-slider').slick({
			infinite: true,
			slidesToShow: 4,
  		slidesToScroll: 4,
  		autoplay: true,
  		autoplaySpeed: 4000,
  		dots: false,
  		responsive: [
	    	{
		      breakpoint: 1024,
		      settings: {
		        slidesToShow: 3,
		        slidesToScroll: 3,
		        infinite: true,
		        dots: false
		      }
		    },
		    {
		      breakpoint: 600,
		      settings: {
		        slidesToShow: 2,
		        slidesToScroll: 2
		      }
		    },
		    {
		      breakpoint: 480,
		      settings: {
		        slidesToShow: 1,
		        slidesToScroll: 1
		      }
		    }
		  ]
		});

		$('.index-slider').slick({
		  dots: true,
		  arrows: false,
		  infinite: true,
		  autoplay: true,
		  autoplaySpeed: 4000,
		  slidesToShow: 1,
		  adaptiveHeight: true
		});
	});
</script>
