<div class="header">
    <div class="row">
      <nav>
        <div class="logo-area">
          <div class="logo">
            <a href="/" title="">
              <img src="../images/svg/sigla-logo-font.svg" alt="logo">
            </a>
          </div>
          <p>Cele mai bune gogosi din oras</p>
        </div>
        <ul class="nav-menu">
          <li><a href="/">Acasa</a></li>
          <li><a href="despre-noi.html" title="">Despre noi</a></li>
          <li><a href="meniu.html" title="">Meniu</a></li>
          <li><a href="comenzi.html" title="">Comenzi</a></li>
          <li><a href="contact" title="">Contact</a></li>
          <li><a href="galerie" title="">Galerie</a></li>
        </ul>
      </nav>
    </div>
</div>
